SOURCE_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/source_db
TARGET_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5434/target_db
SOURCE_API_URL=http://127.0.0.1:8000
SOURCE_DATA_START=2026-07-15T00:00:00+00:00